* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color:none ;
    height: 8vh;
    display: flex;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
}

.aa{
   color: rgba(238, 227, 198, 1);}

   
   body.dark-mode .aa{

    color: rgba(74, 98, 63, 1);;
   }



header ul li {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 60px;
  
}

header ul li a{ 
    color: rgba(183, 145, 123, 0.95);
    text-decoration: none;
    
} 

.fonte{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


header ul li a:hover{
    background-color: rgba(183, 145, 123, 0.25);
    border-radius: 10px;
    height: 300px;

}

#aumentarFonte{

    transform: translate(900px, -180px);
  
   
 }
 
 #diminuirFonte{
     transform: translate(900px, -180px);

 }


.sidebar {
    
      

        left: 0;
 
        padding: 20px;
        margin-top: 77px;
         padding-top: 90px;
         position: absolute;
         

     
         background-color: none;
         height: 700px;
         width: 1000px;
         color: white;
         font-size: 20px;
         padding-top: 5vh;
         margin: 0;
         padding-left: 100px;
     
      
         
}

.sidebar>img{
    width: 700px;
   
}

.centro{

   
    text-align: justify;
    margin-top: 14%;
   font-weight: 400;

padding-top: 4.5%;
  font-size: 20px;
        font-family: "Poppins", sans-serif;
     margin-top: 60px;
     margin-left: 170px;
       
      
}

     



    .aaaa{
        
    
        font-family: "Bebas Neue", sans-serif;
        font-size: 100px;
        color: rgba(238, 227, 198, 1); 
        margin-left: 750px;
      
    }

    .aaaa ul li{
        list-style: none;
        transform: translateY(-100px);
       
       
    }


    .projeto1{
        position: relative;
        z-index: 3;
    }

    .a{ position: absolute;
    margin-top: -60px;
    -webkit-text-stroke: 2px  rgba(183, 145, 123, 0.95); 
    -webkit-text-fill-color: transparent; 
    z-index: 2;
    margin-left: 60px;
    }

    .projeto2{
        z-index: 1;
        position: absolute;
        margin-top: 10px;
        -webkit-text-stroke: 2px   rgba(238, 227, 198, 1);  
        -webkit-text-fill-color: transparent; 
        margin-left: 120px;
    }

    .estrela{
        position: absolute;
        z-index: 1;

   
     transform: translate(-60px, -140px);

    }

    .estrela1{
        position: absolute;
z-index: 2;
transform: translate(290px, -190px);
width: 110px;


    }

     

          .texto{
            color:  rgba(238, 227, 198, 1); 
            padding-left: 45px;
            font-family: 'Times New Roman', Times, serif;
            margin-left: 700px;
            
          }

          .linha1{
            height: 100px;
                width: 1.5px;
               position: absolute;
                background-color: white;
                transform: translate(59px, -42px);
                
          }
          .linha2{
            height: 100px;
                width: 1.5px;
               position: absolute;
                background-color: white;
                transform: translate(59px, -90px);
                
          }

          .texto2{
            padding-left: 110px;
            transform: translateY(-100px);
            color: white;
            font-family: "Bebas Neue", sans-serif;
            font-size: 26px;
          }

          .texto3{
            padding-left: 110px;
            transform: translateY(-210px);
            color: white;
            font-family: "Bebas Neue", sans-serif;
            font-size: 26px;
          }

          .texto4{
            padding-left: 110px;
            transform: translateY(-170px);
            color: white;
            font-family: "Bebas Neue", sans-serif;
            font-size: 26px;
          }



          .imagemsocorro{
            transform: translateY(-50px);
          }
          
          .imagemsocorro2{
            transform: translateY(-100px);
          }
  
          
          .semdecoracao{
           color: white;
            text-decoration: none;
          }

            .rodape{
                height: 10%;
                width: 100%;
                background-color:rgba(238, 227, 198, 1); 
           
                position: fixed;
                padding: -10px, 10px;
                bottom: 0; 
              
            }

       body.light-mode {  background-color: rgba(74, 98, 63, 1); color: rgb(255, 255, 255); }
        body.dark-mode { background-color:rgba(238, 227, 198, 1);color: white; }

        body.dark-mode hr{
            color:  rgba(74, 98, 63, 1);
            

        }

       
        body.dark-mode .port{
            color: rgba(74, 98, 63, 1);

        }

        body.dark-mode .aaaa{
            color: rgba(74, 98, 63, 1);

        }

        body.dark-mode .texto{
            color: rgba(136, 103, 84, 0.95);

        }

        body.dark-mode .rodape{
            background-color: rgba(74, 98, 63, 1);

        }

        body.dark-mode .contato2{
            -webkit-text-stroke: 2px   rgba(136, 103, 84, 0.95); 
        -webkit-text-fill-color: transparent; 
           
        }

        


            footer ul li{
                display: inline-block;
                padding: 10px 10px;
                margin-right: 60px;
                text-decoration: none;
                color: rgba(183, 145, 123, 0.95);
                font-family: "Bebas Neue", sans-serif;
                font-size: 30px;
              transform: translateY(20px);
              margin: 0;
              
            }

            .linha{
                height: 100%;
                width: 2.5px;
               position: absolute;
                background-color: white;
                right: 60px;
             
        
            }

            #botao{
                background-color: transparent;
                color: rgba(183, 145, 123, 0.95);
                font-family: "Bebas Neue", sans-serif;
                border: none;
                font-size: 25px;
            }


         
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    
    font-family: "Poppins", sans-serif;
    color: #000000;
}

input, textarea {
    transform: translateY(-15px);
    margin-bottom: 15px;
    border: transparent;
    border-radius: 9px;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    width: 400px;
   
   
}

.nomecor{
    color: bisque;
}
textarea {
    resize: vertical;
    font-family: 'Times New Roman', Times, serif;
    height: 20px;
}
hr{
    width: 760px;
    transform: translateY(-32px);
}
button {
    background-color: #fdf079;;
    color: rgba(74, 98, 63, 1);
    border: transparent;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    width: 170px;
 
}

button:hover {
    background-color:rgba(255, 198, 51, 1);
    
    font-weight: bolder;
   
}



.cor{
    color: rgba(183, 145, 123, 0.95);
    font-family: 'Times New Roman', Times, serif;
     font-size: 25px;
}


.animacao { opacity: 0; transform: translateY(100px); transition: opacity 0.5s ease-out, transform 0.5s ease-out; } 
.animacao.show { opacity: 1; transform: translateY(0); } 
.arrastarprolado{
    transform: translateX(-110px);
   
    
}

@media(max-width: 768px){

       

    
    .rodape{
        height: 10%;
        width: 100%;
        background-color:rgba(238, 227, 198, 1); 
        position: absolute;
        padding: -10px, 10px;
        bottom: 0; 

    }

    .linha{
        height: 90%;
        width: 2.5px;
       position: absolute;
        background-color: white;
        right: 30px;
     

    }

    

    
    .sidebar {
    
      

        right: 0;
 
        padding: 20px;
        margin-top: 77px;
         padding-top: 90px;
         position: absolute;
         

     
         background-color: none
         ;
         height: 700px;
         width: 400px;
         color: white;
         font-size: 20px;
         padding-top: 5vh;
      
        
     
      
         
}

#aumentarFonte{
    height: 25px;
    width: 100px;
    font-size: 12px;
    
    
}
.arrastarprolado{
    transform: translateX(-110px);
    margin-top: 120px;
    
}

#diminuirFonte{
    height: 25px;
    width: 100px;
    font-size: 12px;
    
}
.sidebar>img{
    width: 350px;
    margin-top: 50px;
   
}





.aaaa{
        
    
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
    color: rgba(238, 227, 198, 1); 
    margin-left: 750px;
  
  
}

.aaaa ul li{
    list-style: none;
    transform: translateY(-100px);
   
   
}


.projeto1{
    position: relative;
    z-index: 3;
    font-size: 70px;
}

.a{ position: absolute;
margin-top: -40px;
-webkit-text-stroke: 2px  rgba(183, 145, 123, 0.95); 
-webkit-text-fill-color: transparent; 
z-index: 2;
margin-left: 60px;
font-size: 70px;
}

.projeto2{
    z-index: 1;
    position: absolute;
    margin-top: 15px;
    -webkit-text-stroke: 2px   rgba(238, 227, 198, 1);  
    -webkit-text-fill-color: transparent; 
    margin-left: 120px;
    font-size: 70px;
}

.estrela{
    position: absolute;
    z-index: 1;
    height: 100px;


 transform: translate(-30px, -125px);

}

.lalala{
    transform: translateX(-600px);
}

.estrela1{
    position: absolute;
z-index: 2;
transform: translate(220px, -150px);
width: 90px;


}

.tamanho{
    height: 100px;
    transform: translateX(14px);
}
 
.centro{

   
    text-align: justify;
    margin-top: 14%;
   font-weight: 400;
padding-top: 4.5%;
  font-size: 20px;
        font-family: "Poppins", sans-serif;
     margin-top: 150px;
     margin-left: 170px;
       
      
}

      .texto{
        color:  rgba(238, 227, 198, 1); 
        padding-left: 45px;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 700px;
      
        
        
      }

      .linha1{
        height: 100px;
            width: 1.5px;
           position: absolute;
            background-color: white;
            transform: translate(59px, -35px);
            
      }
      .linha2{
        height: 110px;
            width: 1.5px;
           position: absolute;
            background-color: white;
            transform: translate(59px, -35px);

            
      }
    
      .texto2{
        padding-left: 110px;
        transform: translateY(-80px);
        color: white;
        font-family: "Bebas Neue", sans-serif;
        font-size: 15px;
        width: 200px;
      }

      .texto3{
        padding-left: 110px;
        transform: translateY(-90px);
        color: white;
        font-family: "Bebas Neue", sans-serif;
        font-size: 15px;
        width: 200px;
      }

      .texto4{
        padding-left: 110px;
        transform: translateY(-75px);
        color: white;
        font-family: "Bebas Neue", sans-serif;
        font-size: 15px;
        width: 200px;
      }



      .imagemsocorro{
        transform: translateY(-50px);
        height: 100px;
        transform: translateX(14px);
      }
      
      .imagemsocorro2{
        transform: translateY(-100px);
        height: 100px;
        transform: translateX(14px);
      }

      
      .semdecoracao{
       color: white;
        text-decoration: none;
      }





    
header {
    background-color:none ;
    height: 8vh;
    display: flex;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
}

.aa{
   color: rgba(238, 227, 198, 1);}

   
   body.dark-mode .aa{

    color: rgba(74, 98, 63, 1);;
   }



header ul li {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 0px;
  
}

header ul li a{ 
    color: rgba(183, 145, 123, 0.95);
    text-decoration: none;
    
} 




header ul li a:hover{
    background-color: rgba(183, 145, 123, 0.25);
    border-radius: 10px;
    height: 300px;

}



         




.cor{
    color: rgba(183, 145, 123, 0.95);
    font-family: 'Times New Roman', Times, serif;
     font-size: 20px;
}





}